{% extends "base.html" %}

{% block title %}Blog- {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            From <a href="http://map.baidu.com/?q={{ user.location }}" target="_blank">
                {{ user.location }}
            </a>
        {% endif %}
    </p>
    {% endif %}

    <p>
        {% if current_user.is_administrator() %}
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        {% endif %}
    </p>

    {% if user.about_me %}
    <p>{{ user.about_me }}</p>
    {% endif %}
    <p>
        Member since {{ moment(user.member_since).format('L') }}
        <br>
        Last seen {{ moment(user.last_seen).fromNow() }}
        <br>

    </p>
    <p>
        {% if current_user.is_administrator() %}
        <!-- 管理员使用的资料编辑链接 -->
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin',id=user.id) }}">Edit Profile[Admin]</a>
        {% endif %}
    </p>


    <p>
        {% if user == current_user %}
        <!-- 资料编辑器的链接 -->
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
    </p>
</div>
<h3>Posts by {{ user.username }}</h3>
<p>{{ user.posts.count() }}blog posts.</p>
{% include '_posts.html' %}
{% endblock %}